<header class="main-header">
    <div class="container">
        <a href="index.html" class="logo">
            <i class="fa-solid fa-infinity fa-sm" style="color: #f5ec00;"></i>
            De Cero al Infinito
        </a>
        <nav class="nav-menu">
            <a href="index.html">Inicio</a>
            <a href="sofipos.html">SOFIPOs</a>
            <a href="bancos.html">Bancos</a>
            <a href="calculadoras.html">Calculadoras</a>
            <a href="blog.html">Blog</a>
        </nav>
    </div>
</header>
