<header class="main-header">
    <div class="container header-content">
        <a href="/index.html" class="logo">
            <i class="fa-solid fa-infinity fa-sm" style="color: #f5ec00;"></i>
            De Cero al Infinito
        </a>

        <nav class="nav-menu">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/sofipos.html">SOFIPOs</a></li>
                <li><a href="/bancos.html">Bancos</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        Calculadoras <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/calculadora-interes-compuesto.html">Interés Compuesto</a></li>
                        <li><a href="/calculadora-plazo-fijo.html">Plazo Fijo</a></li>
                        <li><a href="/calculadora-credito-hipotecario.html">Crédito Hipotecario</a></li>
                    </ul>
                </li>
                <li><a href="/tarjetas.html">Tarjetas de Crédito</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
        </nav>

        <button id="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>
